$accent: #262626;
$yel: #eeba2c;

%roboto-400 {
	font-family: 'Roboto-Regular';
	font-weight: 400;
}

%roboto-500 {
	font-family: 'Roboto-Medium';
	font-weight: 500;
}

%robotocondensed-400 {
	font-family: 'RobotoCondensed-Regular';
	font-weight: 400;
}

%robotocondense-700 {
	font-family: 'RobotoCondensed-Bold';
	font-weight: 700;
}

%dosis-300 {
	font-family: 'Dosis-Light';
	font-weight: 300;
}

%dosis-500 {
	font-family: 'Dosis-Medium';
	font-weight: 500;
}